// Базові кольори
$color-base-dark: #16161f;
$color-base-light: #fafafa;
$color-base-normal: #818181;

// Кольори кнопки
$color-button-active: #121226;
$color-button-disabled: #9f9f9f;

// Кольори кнопки логін
$color-default-login: #ffffff;
$color-hover-login: #e5e5ff;
$color-active-login: #a3a3ff;

// Кольори лінків
$color-dropdown-link:#777777;
$color-dropdown-hover:#484848;
$color-link-hover: #282851;

// Кольори іконок
$color-icon-yellow: #ffd233;
$color-icon-green: #41c322;

// Колір тексту cookies
$color-cookies: #414040;

// Кольори інпутів
$color-input-required: #dc3545;