// Базові кольори
$color-base-dark: #16161f;
$color-base-light: #fafafa;
$color-base-normal: #818181;
$color-base-header: #505f7f;

// Кольори кнопки
$color-button-default: #1e1e1e;
$color-button-disabled: #818181;
$color-button-hover: #9f9f9f;
$color-button-reset:#e74c3c;
$color-button-reset-hover:#c0392b;

// Кольори лінків
$color-link-hover: #282851;
$color-link-hover-footer: #f39c12;