@use "../../styles/variables.scss" as *;

.header {
  background-color: $color-base-header;
  display: flex;
  align-items: center;
  justify-content: start;
}

.logo {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}