@use "../../styles/variables.scss" as *;

.sidebar {
  width: 40%;
  height: 100%;
  padding: 20px;

  &__title {
    margin: 0;
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;
  }

  &__nav {
    margin: 0;
    padding: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    width: 200px;
    border: 1px solid $color-base-dark;
    border-radius: 20px;
    margin-bottom: 10px;
  }

  &__link {
    display: block;
    color: $color-base-dark;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;

    &:hover {
      background-color: $color-link-hover;
      color: $color-base-light;
    }
  }

  &__link--active {
    background-color: $color-button-hover;
    font-weight: bold;
  }
}
